<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido a My Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Acerca de nuestra aplicación
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="https://cdn-icons-png.flaticon.com/512/8344/8344917.png"></ion-img>
      <p>¡Bienvenido! Captura tus momentos favoritos y organízalos de forma sencilla. Descubre nuevas formas de compartir y disfrutar tus fotos con amigos y familiares.</p>
      <p>Funcionalidades clave:</p>
      <ul>
        <li>Captura fotos con la cámara integrada</li>
        <li>Explora y organiza tus imágenes en la galería</li>
        <li>Edita tus fotos con filtros y efectos</li>
      </ul>
      <p>Beneficios para el usuario:</p>
      <ul>
        <li>Guarda tus recuerdos más preciados de forma rápida y sencilla</li>
        <li>Personaliza tus imágenes con una variedad de opciones de edición</li>
        <li>Comparte tus fotos favoritas con amigos y familiares en las redes sociales</li>
      </ul>
      <p>¡Empieza a capturar momentos ahora!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
